*{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-image: url('close-up-of-customer-paying-by-credit-card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header{
    background: #f52b2b;
    color: #ffffff;
    width: 100%;
}

.img_header{
    margin: 20px;
    background: transparent;
    filter: saturate(300%);
    width: 100px;
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    position: relative;
    margin-top: 300px;
    width: 150%;
}

h1{
    color: rgb(0, 0, 0);
    margin: 20px;
}

.number_cc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.589);
    height: 400px;
}

button{
    background-color: #f52b2b;
    color: #ffffff;
    height: 30px;
    width: 70px;
    border-radius: 25px;
    margin-left: 5px;
}

input{
    background-color: white;
    border: solid 1px black;
    font-size: large;
    height: 30px;
    width: auto;
}

#result{
    font-size: large;
    color: rgb(0, 0, 0);
}

footer{
    background: #f52b2b;
    color: #ffffff;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    filter: saturate(300%);
}

.img_footer{
    margin: 20px;
    background: transparent;
    width: 100px;
    height: 100px;
}